table, td {
  border: 0.1em solid black ;
  /*margin-left: 0.3em;*/
  padding: 0.2em;
  background-color: black ;
  text-align: center;
  box-shadow: 0.06em 0.06em 0.80em #555;
  color: white;
  font-size: 1.5em;
}
table {
  width: 90%;
}
div img {
    float: left;
    max-width: 7%;
    max-height: 7%;
    padding-top: 1%;
    padding-left: 1%
}
#titre {
  font-size: 1.2em;
  background-color: black;
  color: white;
  text-align: center;
  border: 0.1em solid black;
  border-radius: 0.1em;
  width: 90%;
  margin-bottom: 2em;
  padding-bottom: 1em;
  box-shadow: 0.06em 0.06em 0.80em #555;
}
* {
  font-family: 'Comfortaa', cursive;
}
#subtitle {
  font-size: 0.8em;
  color: white;
  padding-top: 2em;
}
